%h1 Add a destination
/= form_for([current_user, @destination, url: user_destinations_path(current_user)) do |f|
= form_for([current_user, @destination]) do |f|
  =f.label(:name)
  =f.text_field(:name)
  =f.submit
